<div class="theme-main-more">
    <div class="theme-main-more-area">
        <div class="theme-main-middle">
          <span>
            <a href="https://behance.net/luisparrawork" target="_blank">
              <i data-icon="a" class="icon-behance theme-element-social-btn" onmouseover="this.style.background='#0057FF'" onmouseout="this.style.background='transparent'"></i></a>
            <a href="https://codepen.io/luisparracode" target="_blank">
              <i data-icon="b" class="icon-codepen theme-element-social-btn" onmouseover="this.style.background='#000000'" onmouseout="this.style.background='transparent'"></i></a>
            <a href="https://dribbble.com/luisparraworkshot" target="_blank">
              <i data-icon="c" class="icon-dribbble theme-element-social-btn" onmouseover="this.style.background='#EA4C89'" onmouseout="this.style.background='transparent'"></i></a>
            <a href="https://flipboard.com/@luisparramag" target="_blank">
              <i data-icon="d" class="icon-flipboard theme-element-social-btn" onmouseover="this.style.background='#E00A0A'" onmouseout="this.style.background='transparent'"></i></a>
            <a href="https://www.highly.co/by/luisparrahighlight" target="_blank">
              <i data-icon="e" class="icon-highly theme-element-social-btn" onmouseover="this.style.background='#FA3B01'" onmouseout="this.style.background='transparent'"></i></a>
            <a href="https://www.instagram.com/luisparrapic/" target="_blank">
              <i data-icon="f" class="icon-instagram theme-element-social-btn" onmouseover="this.style.background='#F00075'" onmouseout="this.style.background='transparent'"></i></a>
            <a href="https://issuu.com/luisparrapublication" target="_blank">
              <i data-icon="g" class="icon-issuu theme-element-social-btn" onmouseover="this.style.background='#F36D5D'" onmouseout="this.style.background='transparent'"></i></a>
            <a href="https://www.linkedin.com/in/luisparrapro/" target="_blank">
              <i data-icon="h" class="icon-linkedin theme-element-social-btn" onmouseover="this.style.background='#0A66C2'" onmouseout="this.style.background='transparent'"></i></a>
            <a href="https://medium.com/@luisparrastory" target="_blank">
              <i data-icon="i" class="icon-medium theme-element-social-btn" onmouseover="this.style.background='#000000'" onmouseout="this.style.background='transparent'"></i></a>
            <a href="https://pinterest.com/luisparraboard" target="_blank">
              <i data-icon="j" class="icon-pinterest theme-element-social-btn" onmouseover="this.style.background='#E81D2F'" onmouseout="this.style.background='transparent'"></i></a>
            <a href="https://twitter.com/luisparratweet" target="_blank">
              <i data-icon="k" class="icon-twitter theme-element-social-btn" onmouseover="this.style.background='#1DA1F2'" onmouseout="this.style.background='transparent'"></i></a>
            <a href="https://luisparraportfolio.wixsite.com/designthinking" target="_blank">
              <i data-icon="l" class="icon-wix theme-element-social-btn" onmouseover="this.style.background='#000000'" onmouseout="this.style.background='transparent'"></i></a>
          </span>
        </div>
    </div>
</div>
